
header {
    background-image: url("../image/pattern.jpeg");
    width: 100%;
}

h1 {
    font-family: "Helvetica";
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.Brush h2 {
    font-family:"Helvetica";
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.Brush p strong{
    font-family:"Helvetica";
    font-weight: bold;
    color:blue;
}


.Frames h2 {
    font-family:"Helvetica";
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.Frames p strong{
    font-family:"Helvetica";
    font-weight: bold;
    color:blue;
}

.Paint h2 {
    font-family:"Helvetica";
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.Paint p strong{
    font-family:"Helvetica";
    font-weight: bold;
    color:blue;
}